/*  your css code here. If applicable */
body{
	background-color : #cccccc
}
h1{
	text-align:center;
}
h2{
	text-align:center;
}
a{
	color:black;
	text-decoration:none;
	padding:0 10px;
}
.player_one{
	
	background-color:white;
	display:flex;
	flex-flow:row;
	border:1px black solid;
	height:100px;
}
video{
	position:absolute;

	top:10px;
	left:10px;
	width:330px;
}
.player_two{
	
	position:relative;
	width:350px;
	margin-left:90px;
	height:400px;
	
	background-color:white;
	
	border:1px black solid;
}
h3{
	position:relative;
	top:250px;
	text-align:center;
}
audio{
	position:relative;
	top:270px;
	left:30px;
}